{% extends 'base.html' %}

{% block content %}

<h1>Meal Detail Page</h1>
<h3>Meals for: {{ meal.date }}</h3>
<form action="{% url 'meal_detail' %}", method="GET">
  <input type="date" name="date" value='{{ selected_date }}'>
  <button type="submit">change date</button>
</form>

<h1>Calories and Macros Remaining: </h1>
<div class="card">
  <div class="card-content">
    <p>Calories: {{ remaining.calories }}</p>
    <p>Protein: {{ remaining.protein }}</p>
    <p>Fat: {{ remaining.fat }}</p>
    <p>Carbs: {{ remaining.carbs }}</p>
  </div>
</div>

<h1>Total Calories and Macros: </h1>
<div class="card">
  <div class="card-content">
    <p>Calories: {{ meal.calories }}</p>
    <p>Protein: {{ meal.protein }}</p>
    <p>Fat: {{ meal.fat }}</p>
    <p>Carbs: {{ meal.carbs }}</p>
  </div>
</div>

<h1>Breakfast</h1>
{% for food in breakfast %}
<div class="card">
  <div class="card-content">
      <span class="card-title">{{ food.name }}</span>
      <h5>Nutrients:</h5>
      <h6>Based off {{food.quantity}} grams:</h6>
      <p>Calories: {{ food.calories }}</p>
      <p>Protein: {{ food.protein }}</p>
      <p>Fat: {{ food.fat }}</p>
      <p>Carbs: {{ food.carbs }}</p>
      <form action="{% url 'unassoc_food' meal.id food.id 'breakfast' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Remove Food From Meal</button>
      </form>
  </div>
</div>
{% endfor %}

<h1>Lunch</h1>
{% for food in lunch %}
<div class="card">
  <div class="card-content">
      <span class="card-title">{{ food.name }}</span>
      <h5>Nutrients:</h5>
      <h6>Based off {{food.quantity}} grams:</h6>
      <p>Calories: {{ food.calories }}</p>
      <p>Protein: {{ food.protein }}</p>
      <p>Fat: {{ food.fat }}</p>
      <p>Carbs: {{ food.carbs }}</p>
      <form action="{% url 'unassoc_food' meal.id food.id 'lunch' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Remove Food From Meal</button>
      </form>
  </div>
</div>
{% endfor %}

<h1>Dinner</h1>
{% for food in dinner %}
<div class="card">
  <div class="card-content">
      <span class="card-title">{{ food.name }}</span>
      <h5>Nutrients:</h5>
      <h6>Based off {{food.quantity}} grams:</h6>
      <p>Calories: {{ food.calories }}</p>
      <p>Protein: {{ food.protein }}</p>
      <p>Fat: {{ food.fat }}</p>
      <p>Carbs: {{ food.carbs }}</p>
      <form action="{% url 'unassoc_food' meal.id food.id 'dinner' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Remove Food From Meal</button>
      </form>
  </div>
</div>
{% endfor %}


{% endblock %}