{% extends 'base.html' %}

{% block content %}

<h1>Edit goals</h1>

<form method="POST" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn">Submit Changes</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function(){
     var calories = document.getElementById('daily_calories'); 
     var protein = document.getElementById('daily_protein');
     var carbs = document.getElementById('daily_carbs');
     var fat = document.getElementById('daily_fat');
     var caloriesGoal = 0
     var proteinGoal = 0
     var carbsGoal = 0
     var fatGoal = 0
     protein.addEventListener('input', function(){
      proteinGoal = protein.value * 4;
      caloriesGoal = proteinGoal + carbsGoal + fatGoal;
      calories.value = caloriesGoal
     })
     carbs.addEventListener('input', function(){
      carbsGoal = carbs.value * 4;
      caloriesGoal = proteinGoal + carbsGoal + fatGoal
      calories.value = caloriesGoal
     })
     fat.addEventListener('input', function(){
      fatGoal = fat.value * 9;
      caloriesGoal = proteinGoal + carbsGoal + fatGoal
      calories.value = caloriesGoal
     })
  })
</script>
{% endblock %}