{% extends 'base.html' %}

{% block content %}

<form method="GET" action="{% url 'search_food' %}">
  <input type="text" name="ingr" placeholder="Enter your food">
  <button type="submit">Search Food</button>
</form>

{% if search_results %}
    {% if ingr %}
      <h3>Search Results For {{ ingr }}: </h3>
    {% else %}
      <h3>Results:</h3>
    {% endif %}
    {% for result in search_results %}
      <div class="card">
        <div class="card-content">
            <span class="card-title">{{ result.food.label }}</span>
            <h5>Nutrients:</h5>
            <h6>Based off of 100 grams</h6>
            <p>Calories: {{ result.food.nutrients.ENERC_KCAL | floatformat:0 }}</p>
            <p>Protein: {{ result.food.nutrients.PROCNT | floatformat:0 }}</p>
            <p>Fat: {{ result.food.nutrients.FAT | floatformat:0 }}</p>
            <p>Carb: {{ result.food.nutrients.CHOCDF | floatformat:0 }}</p>
            <a href="{% url 'food_details' result.food.foodId %}">
              <button>Food Details</button>
            </a>
        </div>
      </div>
    {% endfor %}
{% endif %}

{% endblock %}