{% extends 'base.html' %}

{% block content %}

<h3>About Macro Counter</h3>
<hr />
<h4>Developers:</h4>
<div class="card">
  <div class="card-content">
    <span class="card-title">Alex Petit</span>
    <a href="https://github.com/alexpetit6" target="_blank">Github |</a>
    <a href="https://www.linkedin.com/in/alex-petit-large/" target="_blank">LinkedIn</a>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <span class="card-title">Ryan Oh</span>
    <a href="https://github.com/ryanoh671" target="_blank">Github |</a>
    <a href="https://www.linkedin.com/in/ryan-oh-dev/" target="_blank">LinkedIn</a>
  </div>
</div>
<h5>"Special thanks to Mario Recinos for the support!"</h5>
<footer>All Rights Reserved, &copy; 2023 Macro Counter</footer>  

{% endblock %}